asgiref
autopep8
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dj-database-url
Django
gunicorn
numpy
pandas
plotly
psycopg2-binary
pycodestyle
python-dateutil
python-decouple
pytz
retrying
six
sqlparse
Unipath
whitenoise
